@media screen and (max-width: 576px) {
  .title-img {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0.2, 00) 50%
      ),
      url("./Images/Group\ 13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    image-rendering: auto;
    text-align: center;
    margin: 15px;
    padding: 30px;
    max-width: 100%;
    height: auto;
    color: var(--text-secondary);
    border-radius: 20px;
  }
  .primary-btn {
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    color: var(--text-secondary);
    opacity: 1;
    padding: 8px 10px;
    z-index: 1;
    align-items: center;
  }
  h1 {
    font-size: 2.15rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
  }
  .inputs,
  .popular-tours {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
  }
  .inputs input,
  select,
  button {
    margin-top: 20px;
    width: 100%;
  }
  .popular-tours {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    justify-content: flex-start;
  }
  .popular-tours div {
    max-width: 100%;
  }
  .tour-content {
    padding: 5px;
  }
  .tour-content button {
    margin-bottom: 20px;
    width: 50%;
  }
  .tour-img {
    width: auto;
    height: auto;
  }
  .destination {
    margin: 20px 0;
    padding: 20px;
  }
  .destination-img {
    display: block;
  }
  .first-column,
  .second-column {
    display: block;
  }
  .destination-img img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .choose {
    margin: 20px 10px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  .deals {
    margin: 50px 10px 20px 10px;
  }
  .tour1,
  .tour2 {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 10px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    color: var(--text-secondary);
    border-radius: 20px;
  }
  .tour1 > .tour-content1 {
    margin: auto;
  }
  .tour2 > .tour-content1 {
    margin: auto;
  }
  .tour-content1 {
    border: 1px solid white;
  }
  .tour-content1 {
    color: #343434;
  }
  .deals .book {
    width: 60% !important;
  }
  .deals .see {
    display: none;
  }
  video {
    width: 100%;
    height: 100%;
  }
  /*newsletter section*/
  .newsletter {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter img {
    width: 100%;
    height: auto;
  }
  .newsletter h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .newsletter p,
  hr {
    margin-bottom: 10px;
    color: #424247;
  }
  .signup {
    border-radius: 10px;
    max-width: 100%;
    padding: 20px;
    align-items: center;
    border: var(--primary-color) solid 1px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .signup input {
    display: block;
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;
    margin: 20px 0;
  }
  .signup button {
    width: 100%;
  }
  .travel {
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: rotate(-15deg) translate(-2%, -20%);
  }
  /*testimonial*/
  .testimonial {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .review {
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
  }
  /*footer*/
  .footer {
    padding: 20px;
  }
  .footer-content {
    padding: 20px;
  }
  .icons {
    font-size: 2rem;
    margin-top: 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }
  .logo-items {
    display: flex;
  }
  #logo-h1 {
    font-size: 1.6rem;
    font-weight: 800px;
    margin-left: 10px;
  }
  #logo-img {
    height: 24px;
    width: auto;
  }
  header label {
    display: initial;
  }
  header .nav-bar {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    background: #ffe2e2;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    margin: 0 20px;
  }
  header .nav-bar ul {
    width: 100%;
    display: block;
  }

  #menu-bar:checked ~ .nav-bar {
    display: initial;
    transition: 0.5s;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  header label {
    display: initial;
  }
  header .nav-bar {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    background: #ffe2e2;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    margin: 0 20px;
  }
  header .nav-bar ul {
    width: 100%;
    display: block;
  }

  #menu-bar:checked ~ .nav-bar {
    display: initial;
    transition: 0.5s;
  }
  .title-img {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0.2, 00) 50%
      ),
      url("./Images/Group\ 13.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 10px;
    padding: 40px;
    max-width: 100%;
    height: auto;
    color: var(--text-secondary);
    border-radius: 20px;
  }
  .primary-btn {
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    color: var(--text-secondary);
    opacity: 1;
    padding: 8px 10px;
    z-index: 1;
    align-items: center;
  }
  h1 {
    font-size: 2.15rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
  }
  .inputs,
  .popular-tours {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
  }
  .inputs input,
  select,
  button {
    margin-top: 20px;
    width: 100%;
  }
  .popular-tours {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    justify-content: flex-start;
  }
  .popular-tours div {
    max-width: 100%;
  }
  .tour-content {
    padding: 5px;
  }
  .tour-content button {
    margin-bottom: 20px;
    width: 50%;
  }
  .tour-img {
    width: 900px;
    height: auto;
  }
  .destination {
    margin: 20px 0;
    padding: 20px;
  }
  .destination-img {
    display: block;
  }
  .first-column,
  .second-column {
    display: block;
  }
  .destination-img img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .choose {
    margin: 20px 50px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 800px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  .deals {
    margin: 50px 10px 20px 10px;
  }
  .tour1,
  .tour2 {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 10px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    color: var(--text-secondary);
    border-radius: 20px;
  }
  .tour1 > .tour-content1 {
    margin: auto;
  }
  .tour2 > .tour-content1 {
    margin: auto;
  }
  .tour-content1 {
    border: 1px solid white;
  }
  .tour-content1 {
    color: #343434;
  }
  .deals .book {
    width: 60% !important;
  }
  .deals .see {
    display: none;
  }
  video {
    width: 100%;
    height: 100%;
  }
  /*newsletter section*/
  .newsletter {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter img {
    width: 100%;
    height: auto;
  }
  .newsletter h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .newsletter p,
  hr {
    margin-bottom: 10px;
    color: #424247;
  }
  .signup {
    border-radius: 10px;
    max-width: 100%;
    padding: 20px;
    align-items: center;
    border: var(--primary-color) solid 1px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .signup input {
    display: block;
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;
    margin: 20px 0;
  }
  .signup button {
    width: 100%;
  }
  .travel {
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: rotate(-15deg) translate(-2%, -20%);
  }
  /*testimonial*/
  .testimonial {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .review {
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
  }
  /*footer*/
  .footer {
    padding: 20px;
  }
  .footer-content {
    padding: 20px;
  }
  .icons {
    font-size: 2rem;
    margin-top: 10px;
  }
  header {
    padding: 20px;
    z-index: 222;
  }
  .logo-items {
    display: flex;
  }
  #logo-h1 {
    font-size: 1.4rem;
    margin-left: 10px;
  }
  #logo-img {
    height: 28px;
    width: auto;
  }
}
